*
{
	font-family:'Poppins', sans-serif;
}
body
{
    background:#ffffff;
}  
#particles-js {
    width:99.5%;
    height:99vh;       
	position:absolute;
    z-index:0;
}
header
{
	text-align:center;
	padding-top:200px;
	padding-bottom:20px;
	}
section
{
	display: flex; 
	align-items: center; 
	justify-content: center;
	padding-bottom:200px;
}
.btn
{
	border:0px solid black;
	opacity:0.8; 
	cursor:pointer; 
	border-radius:1%; 
	margin:10px 5px; 
	padding:10px 100px 180px;
	text-align:center;
}
.btn1
{	 
	background:#00ff00; 
}
.btn2
{
	background:#fe0000;
}
.btn3
{ 
	border:1px solid black; 
	background:transparent; 
	cursor:pointer; 
	border-radius:1%; 
	margin:5px 5px; 
	text-align:center;
}
h2
{
	position:relative
}
hr
{
	 border:1px solid #DE359A;
	 opacity:0.5;
}
footer
{
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	padding-top:40px;
}
@media only screen and (max-width: 600px)
{
	header
	{
		padding-top:10px;
	}
	section
	{
		flex-direction:column;
		padding-bottom:30px;
	}
	footer
	{
		padding-top:30px;
	}
}
@media only screen and (max-width: 400px)
{
	section .btn
	{		 
		padding:10px 50px 90px;
	}
	footer
	{
		flex-direction:column;
	}
	footer .btn3
	{
		margin-bottom:15px;
	}
}
